<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - core</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/regular.css" rel="stylesheet" />
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3 h-100">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">Cricket World Cup Database</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Matches" asp-action="Index">Matches</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle text-light" data-toggle="dropdown">Categories</a>
                            <div class="dropdown-menu bg-primary">
                                <a class="dropdown-item text-light" asp-area="" asp-controller="Umpires" asp-action="Index">Umpires</a>
                                <a class="dropdown-item nav-link text-light" asp-area="" asp-controller="WicketKeeper" asp-action="Index">Wicket Keepers</a>
                                <a class="dropdown-item nav-link text-light" asp-area="" asp-controller="Refrees" asp-action="Index">Refrees</a>
                                <a class="dropdown-item nav-link text-light" asp-area="" asp-controller="Commentator" asp-action="Index">Commentators</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Stadium" asp-action="Index">Stadiums</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Captains" asp-action="Index">Captains</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle text-light" data-toggle="dropdown">Teams</a>
                            <div class="dropdown-menu bg-primary">
                                <a class="dropdown-item text-light" asp-area="" asp-controller="Team" asp-action="Index">All Teams</a>
                                <a class="dropdown-item nav-link text-light" asp-area="" asp-controller="ClubTeams" asp-action="Index">Club teams</a>
                                <a class="dropdown-item nav-link text-light" asp-area="" asp-controller="RegionTeams" asp-action="Index">Region teams</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Player" asp-action="Index">Players Record</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>

    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <div class="modal fade" tabindex="-1" role="dialog" id="form-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">h</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>

    <div class="loaderbody" id="loaderbody">
        <div class="loader"></div>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CWCD - Group Members | Habib-ur-Rehman | Musham Malik | Hafiz Sohaib | Muhammad Naeem
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/notify.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
