@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <section>
        <center>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 style="color:blue">Our Features</h2>
                        <p><b>Following services we provide to our subscribers</b></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 m-3 p-2 shadow">
                        <h2 style="color:blue">Player Stats</h2>
                        <p><b>Derailed Statistics of player taking part in World Cup. All his previous records from reginol stats</b></p>
                    </div>
                    <div class="col-md-3 m-3 p-2 shadow">
                        <h2 style="color:blue">World Cup Shedule</h2>
                        <p><b>World Cup Shedule with respective Captains, Umpires. Fefrees and Much more details</b></p>
                    </div>
                    <div class="col-md-3 m-3 p-2 shadow">
                        <h2 style="color:blue">All Teams</h2>
                        <p><b>All teams stats with their ranks in the current world cup with no of loses and wins and total matcjes palyed</b></p>
                    </div>
                    <div class="col-md-3 m-3 p-2 shadow">
                        <h2 style="color:blue">Coaches</h2>
                        <p><b>All coaches stats their team details, their experince and loses and wins in their coaching period</b></p>
                    </div>
                    <div class="col-md-3 m-3 p-2 shadow">
                        <h2 style="color:blue">Captains</h2>
                        <p><b>All team's captains stats with their experince and loses and wins in their captancy period</b></p>
                    </div>
                    <div class="col-md-3 m-3 p-2 shadow">
                        <h2 style="color:blue">Umpires</h2>
                        <p><b>All team's umpires stats with their experince and loses and wins in their umpiring period</b></p>
                    </div>
                    <div class="col-md-3 m-3 p-2 shadow">
                        <h2 style="color:blue">Batsmen</h2>
                        <p><b>All team's batsmen stats with their types, scores, sixes and fours and much more</b></p>
                    </div>
                    <div class="col-md-3 m-3 p-2 shadow">
                        <h2 style="color:blue">Bowlers</h2>
                        <p><b>All team's bowlers stats with their types, wickets, economy number and much more</b></p>
                    </div>
                    <div class="col-md-3 m-3 p-2 shadow">
                        <h2 style="color:blue">Refrees</h2>
                        <p><b>All refrees stats with experince details, country and number of matches they refreed</b></p>
                    </div>
                </div>
            </div>

        </center>
    </section>
</div>
