@model core.Models.ClubViewModel

@{
    ViewData["Title"] = "Insert club record";
    Layout = null;
}

<h3 class="text-center">@ViewData["Title"]</h3>
<hr />
<div class="row">
    <div class="container">
        <form asp-action="Create" asp-route-id="@Model.club_id" onsubmit="return ajaxPost(this);" autocomplete="off">
            <div class="row">
                <div class="col">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*<input type="hidden" asp-for="umpire_id" />*@
                    <div class="row">
                        <div class="form-group col-6">
                            <label asp-for="club_id" class="control-label"></label>
                            <input asp-for="club_id" class="form-control" />
                            <span asp-validation-for="club_id" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="club_name" class="control-label"></label>
                            <input asp-for="club_name" class="form-control" />
                            <span asp-validation-for="club_name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label asp-for="country" class="control-label"></label>
                            <input asp-for="country" class="form-control" />
                            <span asp-validation-for="country" class="text-danger"></span>
                        </div>
                       
                    </div>
                    


                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary btn-block" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
