@model System.Data.DataTable 

@{
    ViewData["Title"] = "Domestic tems list";
}

<div class="jumbotron" style="height:100px;">
    <h1 class="text-center">@ViewData["Title"]</h1>
</div>

<div id="view-all">
    @await Html.PartialAsync("_View", Model)
</div>
