@model List<core.Models.PlayerCWModel>

@{
    ViewData["Title"] = "Player Current World Cup Record";
}

<div class="jumbotron" style="height:120px;">

    <h1 class="text-center">@ViewData["Title"]</h1>
</div>


<div id="view-all" class="container-fluid">
    @await Html.PartialAsync("_View", Model)
</div>
